@import url("slider.css");
img {
	max-width: 100%;
	height: auto;
}



/* -------------------------------------------------------------------
Portfolio
------------------------------------------------------------------- */

/* Portfolio filter */

.filter {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 0 70px;
}

.filter > li {
	display: inline-block;
	padding: 0 0 10px;
	margin: 0 25px;
}

/* Portfolio grid */

.works-grid {
	list-style: none;
	padding: 0;
	margin: 0;
}

.works-grid.works-grid-gut {
	margin: 0 0 0 -10px;
}

.works-grid.works-grid-gut .work-item {
	padding: 0 0 10px 10px;
}

.work-item {
	width: 50%;
	float: left;
	margin: 0;
}

.works-grid-3 .work-item {
	width: 33.3333%;
}

.container .works-grid-3 .work-item {
	width: 33.2%;
}

.works-grid-4 .work-item {
	width: 25%;
}

.works-grid-5 .work-item {
	width: 20%;
}

.work-item > a {
	position: relative;
	display: block;
	overflow: hidden;
}

.work-image {
	position: relative;
	overflow: hidden;
}

.work-image img {
	display: block;
	overflow: hidden;
	width: 100%;
}

.work-image:after {
	position: absolute;
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.work-caption {
	width: 100%;
	padding: 0 20px;
	opacity: 0;
	position: absolute;
	bottom: 100%;
	left: 0;
	text-align: center;
	overflow: hidden;
}

.work-title {
	font-size: 14px;
	color: #fff;
	margin: 0 0 6px;
}

.work-descr {
	color: #aaa;
}

.work-item:hover .work-image:after {
	background: rgba(0, 0, 0, .6);
}

.work-item:hover .work-image > img {
	-webkit-transform: scale(1.1) rotate(2deg);
	   -moz-transform: scale(1.1) rotate(2deg);
	    -ms-transform: scale(1.1) rotate(2deg);
	     -o-transform: scale(1.1) rotate(2deg);
	        transform: scale(1.1) rotate(2deg);
}

.work-item:hover .work-caption {
	bottom: 50%;
	opacity: 1;
	z-index: 3;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	        transform: translateY(50%);
}

/* Work item white background*/

.works-grid.works-hover-w .work-title {
	color: #111;
}

.works-grid.works-hover-w .work-item:hover .work-image:after {
	background: rgba(255, 255, 255, .8);
}

/* Work item gradien background*/

.works-grid.works-hover-g .work-image:after {
	opacity: 0;
}

.works-grid.works-hover-g .work-descr {
	color: #fff;
}

.works-grid.works-hover-g .work-item:hover .work-image:after {
	background: rgb(111,226,158);
	background: -moz-linear-gradient(-45deg, rgba(111,226,158,0.8) 0%, rgba(91,218,209,0.8) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(111,226,158,0.8)), color-stop(100%,rgba(91,218,209,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%);
	background: linear-gradient(135deg, rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe29e', endColorstr='#5bdad1',GradientType=1 );
	opacity: 1;
}

/* -------------------------------------------------------------------
Portfoli Single
------------------------------------------------------------------- */
.work-details {
	margin: 0 0 20px;
}

.work-details-title {
	color: #111;
	margin: 0 0 20px;
}

.work-details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.work-details ul > li {
	border-bottom: 1px dotted #c2c2c2;
	padding: 0 0 5px;
	margin: 0 0 5px;
}
















/* Transition elsements */



.client-logo,
.gallery-caption,
.gallery-image:after,
.gallery-image img,
.price-table,
.team-detail,
.team-image:after,
.work-caption,
.work-image > img,
.work-image:after,
.post-thumbnail,
.post-video,
.post-images-slider {
	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		 -o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
}

/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */

a {
	color: #111;
}

a:hover, a:focus {
	text-decoration: none;
	color: #aaa;
	outline: 0;
}

.bg-dark a {
	color: #aaa;
}

.bg-dark a:hover, .bg-dark a:focus {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	font-weight: 400;
}

p, ol, ul, blockquote {
	margin: 0 0 20px;
}

blockquote {
	border: 0;
	font-style: italic;
	font-size: 15px;
	padding: 0;
}

.font-alt {
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.font-serif {
	font-family: Volkhov, "Times New Roman", sans-serif;
	font-style: italic;
}

/* -------------------------------------------------------------------
Sections
------------------------------------------------------------------- */


.module,
.module-small {
	position: relative;
	padding: 140px 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

/* Module header */

.module-small {
	padding: 70px 0;
}

.module-title {
	position: relative;
	letter-spacing: 4px;
	text-align: center;
	font-weight: 400;
	font-size: 30px;
	color: #111;
	margin: 0 0 70px;
}

.module-subtitle {
	text-align: center;
	font-size: 16px;
	color: #111;
	margin-bottom: 70px;
}

.module-icon {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
}

.module-title + .module-subtitle {
	margin-top: -35px;
}











/* -------------------------------------------------------------------
Team
------------------------------------------------------------------- */

.team-item {
	position: relative;
	text-align: center;
}

.team-image {
	position: relative;
	overflow: hidden;
}

.team-image img {
	width: 100%;
}

.team-image:after {
	position: absolute;
	background: transparent;
	content: " ";
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.team-detail {
	position: absolute;
	width: 100%;
	opacity: 0;
	bottom: 100%;
	left: 0;
	z-index: 2;
	text-align: center;
	font-size: 12px;
	color: #aaa;
	padding: 20px;

}

.team-detail h5 {
	font-size: 16px;
}

.team-detail p {
	font-size: 14px;
}

.team-social a {
	display: inline-block;
	color: #aaa;
	padding: 5px 6px;
}

.team-social a:hover {
	color: #FFF;
}

.team-descr {
	margin: 20px 0 0;
}

.team-name {
	font-size: 14px;
	color: #111;
}

.team-role {
	font-size: 11px;
	color: #fff;
}

.team-item:hover .team-image:after {
	background: rgba(0, 0, 0, .6);
}

.team-item:hover .team-detail {
	opacity: 1;
	bottom: 50%;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	        transform: translateY(50%);
}























/* Dark background */

.bg-dark,
.bg-dark-30,
.bg-dark-60,
.bg-dark-90,
.bg-dark .module-title,
.bg-dark-30 .module-title,
.bg-dark-60 .module-title,
.bg-dark-90 .module-title,
.bg-dark .module-subtitle,
.bg-dark-30 .module-subtitle,
.bg-dark-60 .module-subtitle,
.bg-dark-90 .module-subtitle,
.bg-dark .alt-module-subtitle h5,
.bg-dark-30 .alt-module-subtitle h5,
.bg-dark-60 .alt-module-subtitle h5,
.bg-dark-90 .alt-module-subtitle h5 {
	color: #fff;
}

.bg-dark {
	background: #111;
}

.bg-dark-30:before {
	position: absolute;
	background: rgba(34,34,34, .3);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.bg-dark-60:before {
	position: absolute;
	background: rgba(34,34,34, .6);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.bg-dark-90:before {
	position: absolute;
	background: rgba(34,34,34, .9);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
/* -------------------------------------------------------------------
Sections
------------------------------------------------------------------- */

.module,
.module-small {
	position: relative;
	padding: 140px 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

/* Module header */

.module-small {
	padding: 70px 0;
}

.module-title {
	position: relative;
	letter-spacing: 4px;
	text-align: center;
	font-weight: 400;
	font-size: 30px;
	color: #111;
	margin: 0 0 70px;
}

.module-subtitle {
	text-align: center;
	font-size: 16px;
	color: #111;
	margin-bottom: 70px;
}

.module-icon {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
}

.module-title + .module-subtitle {
	margin-top: -35px;
}

/* Half-image */

.side-image {
	position: absolute;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.side-image-text {
	background: #fff;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 140px 60px 140px;
}
/* -------------------------------------------------------------------
Testimonials
------------------------------------------------------------------- */

.testimonials_slider{
	background:rgba(0, 0, 0, .7);
	display:block;
	width:100%;
	height:500px;
	padding:80px 0;
}

.testimonials-slider {
	display:inline-block;
	position: relative;
	width:100%;
	height:300px;
	padding:50px 0;
}

.testimonial-text {
	text-align: center;
	font-style: normal;
	font-size: 18px;
}

.testimonial-caption {
	text-align: center;
	padding: 10px 0 0;
}

.testimonial-title {
	font-size: 14px;
}

.testimonial-descr {
	color: rgba(255, 255, 255, .5);
	font-size: 11px;
}